node_modules
.next
/out/
/logs/
/build
lerna-debug.log
local
vendor
dendron.code-workspace
_site
shell.code-snippets
packages/pods-core/lib/index.d.ts
**/stdout.old
.DS_Store
packages/common-server/src/proto.ts
.dendron.*
meta.json
yarn-error.*
proto.ts
packages/common-server/proto/amplify.ts
unpublish.sh
workspaces
tmp
storage/.verdaccio-db.json
*.js.map
**/*.log
**/*.log.old
dendron.server.log.old
test-workspace-*-profile
dendron-main.code-workspace
pkgjson.code-search
packages/nextjs-template/public
.npmrc
.env.production
packages/dendron-viz/lib
generated-prisma-client
packages/engine-server/prisma/dev.db
dev.db-journal
builds
packages/nextjs-template/styles/scss/
