node_modules
.next
/out/
/logs/
/build
lerna-debug.log
local
common-client-v_boilerplate2cra
common-client-v2
vendor
dendron.code-workspace
.jekyll-cache
_site
shell.code-snippets
packages/pods-core/lib/index.d.ts
packages/dendron-cli/stdout.old
packages/dendron-cli/stdout.old
packages/dendron-cli/stdout.old
packages/plugin-core/.DS_Store
.DS_Store
packages/dendron-cli/stdout.old
packages/api-server/stdout.old
packages/api-server/src/static
packages/common-server/src/proto.ts
.dendron.*
meta.json
yarn-error.*
proto.ts
packages/common-server/proto/amplify.ts
unpublish.sh
workspaces
tmp
storage/.verdaccio-db.json
*.js.map
packages/plugin-core/dendron.server.log
dendron.server
dendron.server.log.old
test-workspace-*-profile
Session.vim
*.log
*.log.old
dendron-main.code-workspace
pkgjson.code-search
