node_modules
.next
/out/
/build
lerna-debug.log
local
common-client-v_boilerplate2cra
common-client-v2
vendor
dendron.code-workspace
.jekyll-cache
_site
shell.code-snippets
packages/pods-core/lib/index.d.ts
packages/dendron-cli/stdout.old
packages/dendron-cli/stdout.old
packages/dendron-cli/stdout.old
.DS_Store
