#@dendronhq:registry=https://npm.pkg.github.com
#registry="https://registry.npmjs.org/"
registry=https://npm.pkg.github.com/dendronhq
#registry=https://npm.pkg.github.com
#registry="https://registry.npmjs.org/"

