//
// Import external dependencies
//
@import "./vendor/normalize.scss/normalize.scss";

//
// Modules
//
@import "./base";
@import "./layout";
@import "./content";
@import "./navigation";
@import "./typography";
@import "./labels";
@import "./buttons";
@import "./search";
@import "./tables";
@import "./code";
@import "./utilities/utilities";
@import "./print";

// Portal Start
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;
$text-color:       #111 !default;
// Portal end

@import "minimal-mistakes/variables";
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@import "minimal-mistakes/mixins";
@import "minimal-mistakes/sidebar";
@import "portal.scss";