@import "~antd/dist/antd.css";

.react-autosuggest__container {
  position: relative;
  display: inline-block;
  width: 100%;
  /* ant line height: 64px */
  line-height: 40px;
}

.react-autosuggest__input {
  width: 100%;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  width: 450px;
  border: 1px solid #eee;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
