//
// Base
//
@import "./support/support";

//
// Modules
//
@import "./variables";
@import "./base";
@import "./content";
// @import "variables.scss";
@import "./typography";
@import "./utilities/utilities";

// Portal Start
$base-line-height: 1 !default;
$spacing-unit: 30px !default;
$text-color: #111 !default;
// Portal end
@import "portal.scss";

// TODO_START: hardcoded
.vscode-light {
  .calendar {
    table,
    td,
    th {
      border: none; // added to remove border from calendar view
    }
  }
  table,
  td,
  th {
    border: 1px solid black;
    padding: 10px; // required for tables in preview
  }
}

.vscode-dark {
  .calendar {
    table,
    td,
    th {
      border: none; // added to remove border from calendar view
    }
  }
  table,
  td,
  th {
    border: 1px solid white;
    padding: 10px; // required for tables in preview
  }
}
.ant-message {
  bottom: 5vh;
  top: initial !important; // by-default top is 8
}
// TODO_END

// for task links, the decorations around the links
.task-before {
  margin-right: 0.5rem;
  opacity: 0.8;
}
.task-after {
  margin-left: 0.5rem;
  opacity: 0.8;
}
.task-status-text {
  opacity: 0.8;
  margin-right: 0.5rem;
}
.site-layout-background {
  background: #1e1e1e !important;
}
.settingslayout {
  height: 100vh;
  width: 100vw;
}
.ant-input {
  border: 0px !important;
}
