//
// Base
//
@import "./support/support";

//
// Modules
//
@import "./variables";
@import "./base";
@import "./content";
// @import "variables.scss";
@import "./typography";
@import "./utilities/utilities";

// Portal Start
$base-line-height: 1 !default;
$spacing-unit: 30px !default;
$text-color: #111 !default;
// Portal end
@import "portal.scss";

// TODO: new
#__next {
  height: 100%; // or min-height
}

hr {
  // the height below is overridden by Ant design theme, we instead set
  // `border-width` to set the height (along with `box-sizing: border-box`)
  border-width: 1px;
  height: 1px;
}

// Components

// DendronLayout

// DendronTreeMenu

.dendron-tree-menu.ant-menu:not(.ant-menu-horizontal) {
  .ant-menu-submenu-title {
    [data-expandedicon="true"] {
      position: absolute;
      top: 0;
      right: 3px;
      height: 100%;
      margin: 0;
      padding: 10px;
      display: flex;
      align-items: center;
    }
  }

  &.ant-menu-inline {
    .ant-menu-title-content:hover {
      text-decoration: underline;
    }
    [data-expandedicon="true"]:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &.ant-menu-inline-collapsed {
    [data-expandedicon="true"] {
      // remove submenu icon in collapsed Menu for first level
      display: none;
    }
  }

  .ant-menu-submenu {
    > .ant-menu-submenu-title:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-right: 3px solid;
      transform: scaleY(0.0001);
      opacity: 0;
      content: "";
      pointer-events: none; // makes open/close arrows touch-area bigger by giving it "space" to the right from this after element
    }
  }

  // We want the links to have the color of regular text, whatever that color is
  // for the current theme.
  .ant-menu-title-content a {
    color: inherit;
  }

  .ant-menu-submenu.dendron-ant-menu-submenu-selected {
    > .ant-menu-submenu-title:after {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  // ant overrides the background color for these elements, which blocks the
  // background color we set for the container element.
  .ant-layout-sider,
  .ant-menu {
    background: unset;
  }
}

// override ant design toc
.dendron-toc.ant-anchor-wrapper {
  .ant-anchor-link-title {
    white-space: normal;
  }
}

// for task links, the decorations around the links
.task-before {
  margin-right: 0.5rem;
  opacity: 0.8;
}
.task-after {
  margin-left: 0.5rem;
  opacity: 0.8;
}
.task-status-text {
  opacity: 0.8;
  margin-right: 0.5rem;
}
