
//
// Base
//
@import "./support/support";

//
// Modules
//
@import "./variables";
@import "./base";
@import "./content";
// @import "variables.scss";
@import "./typography";
@import "./utilities/utilities";

// Portal Start
$base-line-height: 1 !default;
$spacing-unit:     30px !default;
$text-color:       #111 !default;
// Portal end
@import "portal.scss";

// TODO: new
#__next {
	height: 100%; // or min-height
}

hr {
	height: "1px";
}

// Components

// DendronTreeView


// remove submenu icon in collapsed Menu for first level
.ant-menu.ant-menu-inline-collapsed {
	[data-expandedicon="true"] {
		display: none;
	}
}

.ant-menu-submenu {

	// only allow custom element to be gesture target
	[data-expandedicon="true"] {
		svg {
			pointer-events: none;
		}
	}

	// adjust icon position(open/close) for inline Menu
	&.ant-menu-submenu-inline.ant-menu-submenu-open {
		> .ant-menu-submenu-title > [data-expandedicon="true"] {
			transform: rotate(180deg);
		}
	}

	// adjust icon position for collabsed/vertical Menu
	&.ant-menu-submenu-vertical {
		> .ant-menu-submenu-title > [data-expandedicon="true"] {
			transform: rotate(-90deg);
		}
	}

	> .ant-menu-submenu-title:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		border-right: 3px solid rgb(67, 176, 42); // antd's @border-color-split
		transform: scaleY(0.0001);
		opacity: 0;
		content: '';
		pointer-events: none; // makes open/close arrows touch-area bigger by giving it "space" to the right from this after element
	}
}

.ant-menu-submenu.dendron-ant-menu-submenu-selected {
	> .ant-menu-submenu-title {
		background-color: rgb(230, 240, 225);  // antd's @menu-item-active-bg with ich @primary-1
	}

	> .ant-menu-submenu-title:after {
		transform: scaleY(1);
		opacity: 1;
	}
}
