html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fff;
  min-height: 800px;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --amplify-primary-color: #54b758;
  --amplify-primary-tint: #54b758;
  --amplify-primary-shade: #54b758;
}

/* * {
  box-sizing: border-box;
} */
