.logo {
  float: left;
  width: 120px;
}
.headerImage {
  width: 6rem;
  height: 6rem;
}
.siteLayoutBackground {
  background: #fff;
}
/* .container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
   */
