.center {
  justify-content: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.borderCircle {
  border-radius: 9999px;
}

.cardImage {
  max-height: 150px;
  max-width: 150px;
  background-color: transparent;
}

.subscribeBox {
  min-width: 200px;
}

.contributeButton {
  background-color: #54b758;
}

.welcomeImage {
  max-width: 250px;
  max-height: 250px;
}

/* .heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }
   */
