name: CI

on:
  push:
    branches:
      - master
      - dev
      - integ-publish
      - release/*
      - prerelease/*
      - kevin-*/*
  pull_request:
    branches:
      - "*"
      - "*/*"

jobs:
  test:
    strategy:
      # Allow other matrix jobs to continue after one fails, allowing us to
      # isolate platform-specific issues.
      fail-fast: false

      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        node-version:
          - 12.x
          - 14.x
        suite:
          - cli
          - plugin

        include:
          - os: macos-latest
            env: env
            versions: ''
          - os: ubuntu-latest
            env: env
            versions: ''
          # Running natively under Windows requires some further work on paths
          # and file access patterns.
          - os: windows-latest
            env: Get-ChildItem Env:\
            versions: choco --version

    timeout-minutes: 40

    runs-on: ${{ matrix.os }}

    steps:
      - name: Gather environment data
        run: |
          ${{ matrix.env }}
          node --version
          npm --version
          yarn --version

      - name: Checkout source
        uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      # Retain Node modules across builds; some packages download/build binaries
      # here.
      - name: Restore Node modules cache
        if: runner.os != 'Windows'
        uses: actions/cache@v2
        id: node-modules-cache
        with:
          path: |
            node_modules
            packages/*/node_modules
            packages/*/.vscode-test
          key: ${{ runner.os }}-${{ matrix.node-version }}-node-modules-1-${{ hashFiles('yarn.lock')}}

      - name: Restore Node modules cache for Windows
        if: runner.os == 'Windows'
        uses: actions/cache@v2
        id: node-modules-cache-windows
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-yarn-

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      # Publish tests won't work if we haven't configured our committer details.
      - name: Configure Git user
        run: |
          git config --global user.name CI
          git config --global user.email ci@dendron.so

      - name: Initialize
        run: yarn ci:init
        shell: bash

      - name: Start Xvfb
        if: runner.os == 'Linux' && matrix.suite == 'plugin'
        run: |
          Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          echo 'DISPLAY=:99.0' >>$GITHUB_ENV
      
      - name: Run cypress 
        if: runner.os == 'Linux'
        uses: cypress-io/github-action@v2
        with:
          build: "yarn run template:build"
          start: "yarn run template:start" 

      - name: Run tests
        run: yarn ci:test:${{ matrix.suite }}
        timeout-minutes: 30
