# Creates a prerelease branch off of master every Thursday, 7 PM UTC
name: Create Prerelease Branch

# See documentation on POSIX cron syntax here: https://docs.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events
# Scheduled to run at 7 PM UTC on Thursdays
on:
  schedule:
    - cron: "0 19 * * 4"

jobs:
  build:
    strategy:
      fail-fast: true

    timeout-minutes: 5

    runs-on: ubuntu-latest

    # The commit key is necessary in order for this pipeline to trigger a
    # subsequent pipeline. Github prevents this behavior by default to prevent
    # inifinte loops of workflows
    steps:
      - name: Checkout and Create Branch
        uses: actions/checkout@v2
        with:
          ref: master
          ssh-key: "${{ secrets.COMMIT_KEY }}"

      # Bump the version number from what's in package.json for the plugin
      - name: Checkout Branch
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          version=`cat ./packages/plugin-core/package.json | jq ".version" -r | awk -F. -v OFS=. 'NF==1{print ++$NF}; NF>1{$NF=sprintf("%0*d", length($NF), ($NF+1)); print}'`
          branchName="prerelease/${version}"
          echo $branchName
          git checkout -b $branchName
          git push origin $branchName
