# This workflow will build the plugin vsix every week night at 12:00 AM PST and
# publish it to the VS Code Marketplace under the 'nightly' extension target.
# This will NOT publish any packages to NPM.
name: Publish Extension - Nightly

# See documentation on POSIX cron syntax here: https://docs.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events
# Scheduled to run every weekday at 12:00 AM PST, which is 7:00 AM UTC Tuesday-Saturday
on:
  schedule:
    - cron:  '0 7 * * 2-6'

jobs:
  build:
    environment: plugin-production
    strategy:
      fail-fast: true

    timeout-minutes: 30

    runs-on: ubuntu-latest

    steps:
      - name: Gather environment data
        run: |
          node --version
          npm --version
          yarn --version

      - name: Configure Git user
        run: |
          git config --global user.name CI
          git config --global user.email ci@dendron.so

      - name: Checkout source
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version:  14.x

      - name: Yarn Setup
        run: yarn setup
      
      - name: Set Up Yarn Local Registry
        run: yarn config set registry http://localhost:4873
      
      - name: Set Up NPM Local Registry
        run: | 
          npm set registry http://localhost:4873/
          echo $NODE_OPTIONS
      
      - name: Build the VSIX
        env: 
          GOOGLE_OAUTH_CLIENT_SECRET: ${{ secrets.GOOGLE_OAUTH_CLIENT_SECRET }}
          GOOGLE_OAUTH_CLIENT_ID: ${{ secrets.GOOGLE_OAUTH_CLIENT_ID }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          NODE_OPTIONS: --max_old_space_size=4096
        run: |
          echo "DENDRON_RELEASE_VERSION=`cat meta.json | jq -r '.["@dendronhq/plugin-core"]' | awk -F. -v OFS=. 'NF==1{print ++$NF}; NF>1{$NF=sprintf("%0*d", length($NF), ($NF+1)); print}'`" >> $GITHUB_ENV
          echo $NODE_OPTIONS
          yarn build:patch:local:ci

      - name: Upload VSIX Artifact
        uses: actions/upload-artifact@v2
        with:
          name: vsix
          path: ./packages/plugin-core/*.vsix

      - name: Prepare Package Manifest
        env: 
          NODE_OPTIONS: --max_old_space_size=4096
        run: |
          DENDRON_CLI=./packages/dendron-cli/lib/bin/dendron-cli.js
          LOG_LEVEL=info $DENDRON_CLI dev prep_plugin --extensionTarget nightly

      - name: Publish to VS Code Marketplace
        env: 
          VSCE_PAT: ${{ secrets.VSCODE_PUBLISH_PWD }}
          NODE_OPTIONS: --max_old_space_size=4096
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        working-directory: ./packages/plugin-core
        run: yarn deploy:vscode